.page-home {
    width: 100vw;
    height: 100vh;
}

.content-home {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.content-home h1 {
    font: 500 20px Roboto;
    color: var(--color-button-text);
}

.houses-content {
    display: flex;
    flex-direction: column;
    background-color: var(--color-box-footer);
    margin-top: 12px;
    padding: 18px 30px 18px 30px;
}

.houses-content .house-infos {
    width: 370px;
    margin: 0 auto;
}

.houses-content .house-infos img {
    width: 100%;
    height: 240px;
    margin-bottom: 12px;
}

.houses-content .house-infos .house-address {
    display: flex;
    margin-top: 12px;
}

.houses-content .house-infos .house-address img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.houses-content .house-infos span {
    color: var(--color-text-complement);
    font: 500 16px Roboto;
}

.houses-content .house-infos .house-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.houses-content .house-infos .house-value span {
    color: var(--color-background);
}

.houses-content .house-infos .house-value button {
    padding: 10px 35px 10px 35px;
    background-color: var(--color-background);
    color: var(--color-button-text);
}