.page-header {
    display: flex;
}

.container-header {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header .left img {
    height: 50px;
    transition: all ease .2s;
}

.container-header .left img:hover {
    height: 50px;
    opacity: .6;
}

.container-header .right-side ul {
    list-style: none;
    text-align: center;
    display: flex;
    color: var(--color-button-text);
}

.container-header .right-side ul a {
    text-decoration: none;
    color: var(--color-button-text);
    transition: all ease .2s;
}

.container-header .right-side ul a:hover {
    text-decoration: none;
    color: var(--color-line-in-white);
}

.container-header .right-side ul a:nth-child( -n + 2 ) {
    margin-right: 13px;
}